{% load i18n %}
{% load bootstrap_tags %}
{% load url from future %}

<div class="kaleo-invites-form">
    {% if user.invitationstat.can_send %}
        <form action="{% url "kaleo_invite" %}"
              class="form ajax"
              data-replace-closest=".kaleo-invites-form"
              method="POST"
              accept-charset="utf-8">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {% trans "Invite" %}
                </button>
            </div>
        </form>
    {% else %}
        <p>
            {% trans "You do not have any invitations currrently." %}
        </p>
    {% endif %}
</div>